{% extends "DocProfile.html" %}
{% block main %}
    {% for data in result %}
    <h1>Hello, {{data.0}}!</h1>

    <form action="{{ url_for('DocUpdate') }}", method="POST">
        <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{data.0}}</span><span class="text-black-50">{{data.1}}</span><span> </span></div>
            </div>
            <div class="col-md-7 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                                        
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" name="Docusername" value="{{data.0}}" > </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" name="DocFname" value="{{data.3}}"  ></div>
                        <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" name="DocLname" value="{{data.4}}" ></div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="number" class="form-control" name="DocMobile" value="{{data.10}}"  ></div>
                        <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" name="Docaddress" value="{{data.12}}" ></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" name="Docemail" value="{{data.11}}" ></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Nationality</label><input type="text" class="form-control" name="Docnationality" value="{{data.6}}"  ></div>
                        <div class="col-md-6"><label class="labels">Gender</label><input type="text" class="form-control" name="DocGender" value="{{data.5}}"  ></div>
                        </div>
                    <div class="row mt-3">
                        <div class="col-md-4"><label class="labels">Day</label><input type="number" class="form-control" name="DocDay" value="{{data.7}}" ></div>
                        <div class="col-md-4"><label class="labels">Month</label><input type="number" class="form-control" name="DocMonth" value="{{data.8}}" ></div>
                        <div class="col-md-4"><label class="labels">Year</label><input type="number" class="form-control" name="DocYear" value="{{data.9}}" ></div>                    
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Password</label><input type="password" name="Docpsw" class="form-control" value="{{data.2}}" ></div>                   
                     </div>
                     <div class="btn btn-primary">
                        <button type="submit" class="btn btn-primary btn-lg">Update</button>
                        <a class="btn btn-primary" href="{{ url_for('Docinfo') }}" role="button">Cancel</a>
                      </div>   
                 </div>
            </div>
        </div>
    </div>

    </form>
    {% endfor %} 

{% endblock %} 